<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Collisions Routières</title>
</head>
<body>
  <h1>Collisions Routières</h1>
  <div id="data-container"></div>

  <script>
    //document.addEventListener('DOMContentLoaded', () => {
      //fetch('/index1')
        //.then(response => response.json())
        //.then(data => {
         // const dataContainer = document.getElementById('data-container');
         // dataContainer.innerHTML = JSON.stringify(data, null, 2);
       // })
       // .catch(error => console.error('Error fetching data:', error));
    //});
  </script>
</body>
</html>
